@import "../node_modules/vue3-treeselect/dist/vue-treeselect.css";

.noDataMessage {
    width: 60%;
    position: absolute;
    border: 1px solid #adb5bd;
    bottom: 50%;
    left: 25%;
    background: #fff;
    margin: auto;
}