@import "partials/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/src/index.scss";
@import "../../node_modules/leaflet/dist/leaflet";
@import "../../node_modules/@riophae/vue-treeselect/dist/vue-treeselect";
@import "../../node_modules/@reside-ic/vue-dynamic-form/src/style-partial.scss";
@import "partials/maps";
@import "partials/stepper";
@import "partials/header";
@import "partials/tooltips";
@import "partials/progress";
@import "partials/files";

a {
  color: $theme-red;

  &:hover {
    color: darken($theme-red, 10%);
  }

  &.disabled {
    color: $gray-500;
    cursor: default;

    &:hover {
      text-decoration: none;
    }
  }
}

.color-red {
  color: $theme-red;
}

.btn-red {
  @include button-variant($theme-red, darken($theme-red, 10%))
}

.btn-red-icons {
  color: $theme-red;

  &:hover {
    color: darken($theme-red, 10%);
  }
}

#model-options .btn-submit {
  @extend .btn-red
}

.btn-white {
  @include button-variant(#ffffff, $theme-red, rgba(198, 26, 53, 0.1));
  color: $theme-red !important;

  &:active {
    background: rgba(198, 26, 53, 0.1);
  }
}

.tick {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: -5px;
  height: 20px;
  width: 20px;

  path {
    transform: scale(0.2);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

}

.lds-spin.xs {
  margin-top: -15px;
}

.login-form {
  width: 20em;
}

.large-logo {
  display: flex;
  width: 20em;
}

.reset-password-form {
  width: 30em;
}

a.up::after {
  content: '\25b2';
}

a.down::after {
  content: '\25bc';
}

.logos {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logos img {
  margin: 10px 30px 10px 30px;
  width: auto;
  max-width: 230px;
  max-height: 100px;
}

.collapsed > .when-open {
  display: none;
}

.not-collapsed > .when-closed {
  display: none;
}

.form-control.is-invalid {
  background-image: none;
}


