@import "partials/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

a {
  color: $theme-red;

  &:hover {
    color: darken($theme-red, 10%);
  }

  &.disabled {
    color: $gray-500;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-red {
  @include button-variant($theme-red, darken($theme-red, 10%))
}

.step {

  color: $gray-600;

  .btn {
    color: white;
    margin: 0 auto;
    display: block;

    @extend .rounded-circle;
    @extend .mb-1;

    height: 50px;
    width: 50px;

    &:not(.btn-red) {
      background: $gray-500;
    }
  }

  &.active {
    color: inherit;
  }
}

.no-padding {
  padding: 0 !important;
}

.tick {
  margin-left: 5px;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;

  path {
    transform: scale(0.2);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

}

.login-form {
  width: 20em;
}

.reset-password-form {
  width: 30em;
}

.logout {
  float: right;
  margin-right: 1em;

  a {
    color: #f8f9fa;
  }
}

.custom-file {
  overflow: hidden;
}