.dynamic-form {
  select.form-control {
    height: calc(1.5em + 0.75rem + 2px) !important;
  }

  .group-label {
    position: absolute;
    bottom: 0;
  }

  input[type=number] {
    max-width: 120px;
  }
}
