@mixin navbar-header-mixin($color) {
  margin-top: -8px;
  margin-bottom: -8px;
  padding: 10px;
  margin-left: -30px;
  background-color: darken($color, 10%);
  color: white;
}
.navbar-header {
  @include navbar-header-mixin($theme-red)
}

header {

  a {
    color: white;

    &:hover {
      text-decoration: underline;
      color: #f8f9fa;
    }
  }

  .icon {
    vertical-align: top;
  }

  .dropdown {
    margin-left: 10px;
    flex: auto;
  }

  .dropdown-toggle {
    color: white !important;
    text-decoration: none !important;
  }

  .dropdown-menu {
    top: 31px;
  }
}

.dropdown-item {
  color: $theme-red;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover, &.active, :active {
    background-color: $gray-200;
  }
}

.navbar-header-secondary {
 @include navbar-header-mixin($theme-green)
}
