.map-control {
  border: 1px solid #adb5bd;
  background: white;
}

.legend-container {
  display: table-cell;
}

.legend-element {
  vertical-align: bottom;
  display: inline-block;
}

.legend-element a {
  color: $theme-red;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.adjust-scale {
  min-width: 4.1rem;
}

.adjust-scale a {
  text-decoration: underline;
}

.legend-adjust {
  width: 190px;
}

.legend-adjust .static-container {
  height: 140px;
}

.legend-adjust .dynamic-container {
  height: 80px;
}

.legend-adjust input[type='number'] {
  width: 4rem;
  outline: none;
}

.vue-treeselect__multi-value-item {
  background-color: $theme-red;
  color: white;
}

.vue-treeselect__multi-value-item, .vue-treeselect__multi-value-item:hover {
  .vue-treeselect__value-remove {
    color: white;
  }
}

.vue-treeselect__label-container, .vue-treeselect__label-container:hover {
  .vue-treeselect__checkbox--checked, .vue-treeselect__checkbox--indeterminate {
    border-color: $theme-red !important;
    background: $theme-red !important;
    width: auto;
  }
}

.vue-treeselect__menu {
  overflow-x: auto;
}

.vue-treeselect__control {
  height: calc(1.5em + 0.75rem + 2px);
}

.vue-treeselect--disabled .vue-treeselect__single-value {
  color: $gray-500;
}

.disabled-label {
  color: $gray-500;
}

.nav-tabs {
  border-bottom: 1px solid $theme-red;

  .nav-link {

    &:not(.disabled) {
      cursor: pointer;
    }

    &.active {
      color: white;
      background-color: $theme-red;
      border-color: $theme-red;
    }

    &:hover {
      border-color: $theme-red;
      background: darken($theme-red, 10%);
      color: white !important;
    }
  }
}

.geojson {
  stroke-width: 1;
  fill-opacity: 1.0;
  stroke: grey;
}

.geojson-grey {
  @extend .geojson;
  fill: rgb(200, 200, 200);
}
