.step {

  color: $gray-600;
  max-width: 200px;
  font-weight: bold;

  .btn {
    color: white;
    margin: 0 auto;
    display: block;

    @extend .rounded-circle;
    @extend .mb-1;

    height: 50px;
    width: 50px;

    &:not(.btn-red):not(.btn-white) {
      background: $gray-600;
    }
  }

  &.active {
    color: inherit;
  }

  &.active {
    .btn {
      box-shadow: 0 0 0 0.5rem rgba(192, 55, 76, 0.5) !important;
    }
  }

  &:first-child {
    padding-left: 15px;
    padding-right: 0;
  }

  &:last-child {
    padding-left: 0;
    padding-right: 15px;
  }

  @for $i from 2 to 8 {
    &:nth-child(#{$i}) {
      padding: 0 !important;
    }
  }
}

.step-connector {
  max-width: 100px;
  padding: 0 !important;

  &.enabled {
    hr {
      border-color: $theme-red;
    }
  }
}
