.v-popper--theme-tooltip {

  .v-popper__inner {
    font-size: 0.875rem;
    background: rgba(0, 0, 0, .9) !important;
    max-width: 400px !important;
    max-height: 300px;
    scrollbar-color: #fff black
  }

  .v-popper__arrow-outer {
    border-color: rgba(0, 0, 0, .9) !important;
  }
}
