on:
  push:
    branches:
      - master
      - mrc-1949

name: make-release

jobs:
  create-release:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Extract version from NEWS.md
        run: echo "RELEASE_VERSION=v$(awk '($1 == "#") && ($2 == "hint"){print $3; exit;}' NEWS.md)" >> $GITHUB_ENV

      - name: Check if release tag exists
        uses: mukunku/tag-exists-action@v1.0.0
        id: checkTag
        with:
          tag: ${{ env.RELEASE_VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release if tag does not exist
        if: $[ "${{steps.checkTag.outputs.exists}}" == "false" ]
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.RELEASE_VERSION }}
          release_name: Release hint ${{ env.RELEASE_VERSION }}
          draft: false
          prerelease: false

