on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - "*"

name: Test Browser E2E

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Make shared env
              uses: ./.github/actions/make-shared-env

            - name: Run deps
              run: scripts/run-dependencies.sh

            - name: Start Kotlin server
              run: scripts/run-kotlin-server.sh

            - name: Install playwright et al
              run: |
                cd src/app/static
                npm install @playwright/test@1.35.1
                npx playwright install chromium
                npx playwright install-deps chromium

            - name: Test browser e2e
              run: npm run browser-test --prefix=src/app/static
