on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - "*"

name: Test Back End

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Make shared env
              uses: ./.github/actions/make-shared-env
              with:
                install-packages: 'false'
                dh-username: ${{ secrets.DOCKERHUB_USERNAME }}
                dh-password: ${{ secrets.DOCKERHUB_TOKEN }}
                ghcr-username: ${{ github.actor }}
                ghcr-password: ${{ secrets.GITHUB_TOKEN }}

            - name: Run deps
              run: scripts/run-dependencies.sh

            - name: Prep back end tests
              run: |
                : # here we are creating a dummy build of the app
                : # the back end testing only tests that it can serve
                : # freemarker template files, access the css file and
                : # gzip it, we need to create a sufficiently large file to
                : # gzip which is what the last command does
                mkdir -p src/app/static/public
                mkdir -p src/app/static/public/css
                yes ".class {height: 500px;}" | head -n 200 >> src/app/static/public/app.css

            - name: Test back end
              run: |
                npm run copy-assets-to-public --prefix=src/app/static
                src/gradlew -p src -PexcludeADR=true :app:test --parallel :app:jacocoTestReport -x app:compileFrontEnd -x app:copyAssets
                codecov -p . -f src/app/coverage/test/*.xml
              env:
                CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
