on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - "*"

name: Test ADR Front End

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Make shared env
              uses: ./.github/actions/make-shared-env
              with:
                dh-username: ${{ secrets.DOCKERHUB_USERNAME }}
                dh-password: ${{ secrets.DOCKERHUB_TOKEN }}
                ghcr-username: ${{ github.actor }}
                ghcr-password: ${{ secrets.GITHUB_TOKEN }}

            - name: Run deps
              run: scripts/run-dependencies.sh

            - name: Start Kotlin server
              run: scripts/run-kotlin-server.sh

            - name: Test front end (ADR)
              run: npm run test:adr-integration --prefix=src/app/static
